{% extends "layout.html" %}
{% block body %}
    <section id="header">
        <div class="container" style="width: 90%">
            <p><h3>404, 没有找到您要的东西.........</h3></p>
            <p><button class="btn btn-link" id="return_index">返回首页</button></p>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        (function($) {
            $('#return_index').on('click', function() {
                    window.location.href = '/';
                });
        })(jQuery)
    </script>
{% endblock %}
