<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

    <title id="title_id">大数据</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/soon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <link href="{{ url_for('static', filename='css/lato.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/raleway.css') }}" rel='stylesheet' type='text/css'>

  </head>
  <!-- START BODY -->
  <body class="nomobile">
    {% block body %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.js')}} "></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
    <script src="{{ url_for('static', filename='js/soon/plugins.js')}} "></script>
    <script src="{{ url_for('static', filename='js/soon/jquery.themepunch.revolution.min.js')}} "></script>
    <script src="{{ url_for('static', filename='js/soon/custom.js')}} "></script>
    {% block script %}
    {% endblock %}
  </body>
  <!-- END BODY -->

</html>
